[submodule "ext/eigen"]
	path = ext/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "ext/libigl"]
	path = ext/libigl
	url = https://github.com/libigl/libigl.git
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb.git
[submodule "ext/polyscope"]
	path = ext/polyscope
	url = https://github.com/nmwsharp/polyscope.git
